{% extends 'base.html'%}


{%block content %}
<section class="section">
    <h1>Nishanth B M</h1>
    <p class="subtitle">CSE Student | Cyber Security Enthusiast |  Web Developer Explorer | Strong in python </p>
    <p>www.linkedin.com/in/nishanth-bm-nishanth-bm-885a5a331 | ManojKandadaiah.pythonanywhere.com</p>

    <div class="grid">
       <div class="grid-item">
            <h2>EDUCATION</h2>
            <p><strong>Bachelor of Engineering (CSE)</strong><br>2024–2028<br>Rajarajeswari College of  Engineering, Bangalore</p>
            <p><strong>Pre Universuty </strong><br>2021–2023<br>Marimallapa PU College</p>

            <h2>EXPERIENCE</h2>
            <p></p>
            <ul>
                <li>
                </li>
                <li></li>
            </ul>
        </div>

        <div class="grid-item">
            <h2>SKILLS</h2>
            <ul>
                <li>Python</li>
                <li>C</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Cyber Security</li>
            </ul>

            <h2>PROJECTS</h2>
            <p><strong>Catch the falling object</strong></p>
            <ul><li>Using python and pygame.</li></ul>
            <p><strong>Portfolio Website</strong></p>
            <ul><li>Responsive portfolio site showcasing personal projects.</li></ul>
            <p><strong>Line Following Rover</strong></p>
            <ul><li>Using IOT sensor and Arduino uno.</li></ul>
        </div>
    </div>
</section>
{%endblock%}
